.wrapper
{
    height: 130px;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;

    .item
    {
        min-width: 110px;
        height: 110px;
        margin-right: 2px;
    }
}

.active
{
    background-color: #403D3D;
}