img
{
  position: fixed;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.titre
{
  color: white;
}

.card
{
  min-width: 300px;
  margin-right: 20px;
  margin-top: 20px;

  cursor: pointer;
}

.flexCard
{
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}
