<img [src]="'../../../assets/imageClasseHeros/' + GetNomImage()" alt="">
<div>

    <h1 class="titre">Prochaines GvG</h1>
    <p style="text-align: center;">Les gvgs expirées sont supprimées tous les mardis et samedis à 20h</p>

    <div class="flexCardGvg container-fluid">
        <mat-card *ngFor="let element of GetListeGvG()" class="cardGvg" (click)="Naviguer(+element.Id, element.Date)">
            <mat-card-header>
                <mat-card-title>Date: {{ element.Date }}</mat-card-title>
                <mat-card-subtitle>Participant: {{ element.NbParticipant }}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-actions align="end">
                <button mat-raised-button *ngIf="ParticipeDeja(element.Id)" color="warn" (click)="Absent(element, $event)">Absent</button>
                <button mat-raised-button *ngIf="!ParticipeDeja(element.Id)" color="primary" (click)="Participer(element, $event)">Participer</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>
